@page
@model IndexModel

@{
    ViewData["Title"] = "Acceuil";
    string dateJour = "27/11/22";
}

<div class="text-center">
    <h1 class="display-4">Premier Projet ASP.NET</h1>
    <p>Ce projet est créer le @dateJour </p>
    <p>By Adane Ben Osmane</p>
</div>